p {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.vertical-buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content; 
}

#radioButtons {
    display: flex;
    align-items: center;
}

.addspace {
    margin-right: 15px;
}

.modal-header {
    color: white;
}